@import url('../../styles/colors.css');

a {
  text-decoration: none;
  color: var(--smoky_black);
}

.navbar-block {
  margin: 5px auto;
  display: block;
  width: fit-content;
}

.navbar-block .navbar-links {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  padding: 5px;
  border-radius: 50px;
}

.navbar-block .navbar-links a {
  padding: 8px;
  border-radius: 50px;
  white-space: nowrap;
}

.navbar-block .navbar-links .selected {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}
